
/// the theme's core brand colour
$brand-color:           #000 !default;

$button-primary-color:	#dd4814 !default;

$link-color:            #333 !default;

$silver:                #ccc !default;

$grey:                  #ddd !default;

$error:                 #df382c !default;

$pending:               #eaa818 !default;

$success:               #38b44a !default;

$header-link-color:     #fff !default;

$cookie-background:     #fae4dc !default;
