
/// the theme's core brand colour
$brand-color:           #000;

$button-primary-color:	#dd4814;

$silver:                #ccc;

$grey:                  #ddd;

$error:                 #df382c;

$pending:               #eaa818;

$success:               #38b44a;
