////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/cloud-vanilla-theme/docs/#cloud-base
/// @since        0.0.6
////

/// Cloud typographic element styles
/// @group Typography
@mixin cloud-typography {
  a,
  %link,
  .link {
      cursor: pointer;
      color: $cool-grey;
      text-decoration: underline;
  }

  pre {
    background-color: $white;
  }
}
