////
/// @author       Web Team at Canonical Ltd
/// @link         http://ubuntudesign.github.io/cloud-vanilla-theme/docs/#cloud-base
/// @since        0.0.6
////

/// Cloud typographic element styles
/// @group Typography
@mixin cloud-typography {
  a {
    &:link,
    &:visited {
      color: $button-primary-color;
    }

    &.button--primary:link,
    &.button--primary:visited {
      color: $white;
    }
  }

  pre {
    background-color: $white;
  }
}
